# Java & Spring Boot
core-api/target/
*.class

# Python & FastAPI
ai-worker/.env
ai-worker/venv/
ai-worker/__pycache__/
*.pyc

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store

# Production sirlari
.env.prod

frontend/node_modules/*

_

CLAUDE.md
DEPLOY.md
